<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="description" content="overview &amp; stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-table.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-dialog.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrapValidator.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap-table.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrap-dialog.min.js"></script>
	<script type="text/javascript" src="/javascripts/bootstrapValidator.js"></script>
	<script type="text/javascript" src="/javascripts/public.js"></script>
</head>
<body>
	{{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>

